{
  "FIREBASE_API_KEY": "AIzaSyBUuB1plWc00xHTI3m2vcIYAD6xRUG1Yk8",
  "FIREBASE_AUTH_DOMAIN": "memoapp-7085e.firebaseapp.com",
  "FIREBASE_DB_URL": "https://memoapp-7085e.firebaseio.com",
  "FIREBASE_PROJECT_ID": "memoapp-7085e",
  "FIREBASE_STORAGE": "",
  "FIREBASE_SENDER_ID": "933047692564"
}